.buttonContainer > button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 16px;
    color: #1e1e1e;
    justify-content: flex-start;
    padding: 2px 6px;
    text-align: left;
    text-transform: none;
}

.buttonContainer > button:hover {
    background-color: #f0f0f0;
}
